@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {

    background-color: rgb(10, 3, 32);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.container {

    flex: 1;
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto;
    height: 100%;

}

.logo {
    position: relative;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 30px;
    right: 700px;
    font-size: 25px;
    color: rgb(123, 204, 224);


}

header {
    position: relative;

    width: 35%;
    left: 800px;
    /* background-color: aqua; */
}

header nav {


    gap: 10px;
    right: 150px;


}

.navbar {
    position: relative;
    padding: 8px;
    border: none;
    text-decoration: none;
    color: aliceblue;
    right: 10px;

}

.navbar:hover {

    transition: .2s ease;
    color: rgb(95, 217, 233);
}

.intro {
    position: relative;
    flex: 1;
    margin: 100px 0 0 20px;
    /* background-color: rgb(2, 39, 71); */
    width: 40%;
    color: aliceblue;
    padding: 20px;

}

.intro h3 span {

    color: skyblue;
}

.intro p {

    margin-top: 20px;
}

.account-logo {
    position: relative;
    left: 100px;
    /* background-color: azure; */
    width: 30%;
    height: 100px;

}

.facebook {
    position: relative;
    font-size: 35px;
    color: skyblue;
    padding: 5px;
    text-decoration: none;
    top: 5px;

}

.facebook:hover {

    color: aquamarine;
}


.linkedin {


    font-size: 14px;
    color: skyblue;
    border: 2px solid skyblue;
    border-radius: 10px;
    text-decoration: none;
    padding: 6px;


}

.linkedin:hover {
    color: aquamarine;
}

.git {


    position: relative;
    font-size: 30px;
    color: skyblue;
    text-decoration: none;
    padding: 5px;
    left: 2px;
    top: 4px;
}

.git:hover {

    color: aquamarine;
}

.resume {

    position: relative;
    left: 120px;
    background-color: skyblue;
    text-decoration: none;
    border: 2px solid skyblue;
    border-radius: 15px;
    padding: 10px;
    font-weight: 500;
    color: black;
    font-size: 15px;

}

.resume:hover {
    background-color: aquamarine;
}

.photo {

    position: relative;

    left: 700px;
    bottom: 300px;
    height: 240px;
    border-radius: 130px;
    width: 240px;
    border: 5px solid skyblue
}



.footer {

    color: aliceblue;
    position: relative;
    margin-top: 250px;
    text-align: center;
    padding: 15px;
   right: 200px;
    /* background-color: rgb(40, 41, 41); */
    height: 100px;
    width: 1500px;
   

}

.footer span {


    color: skyblue;
    font-size: 20px;
}

.footer h4{
 
padding: 10px;
}
.footer p{

    padding: 2px;
}

.footer a{

      text-decoration: none;
      color: skyblue;
}
.footer a:hover{
    color: rgb(214, 28, 28);
}

.about {

    color: aliceblue;
    position: relative;
    top: 100px;
    text-align: center;
    padding: 20px;
    width: 600px;
    left: 300px;

}

.about .heading {

    color: skyblue;
}

.about .describe {

    margin-top: 20px;
}


.about span {
    position: relative;
    top: 100px;
    border: 2px solid skyblue;
    border-radius: 20px;
    font-size: 80px;

}

.project-heading {

    position: relative;
    color: #f8f9fa;
    left: 340px;
    top: 100px;
}

.table-container {


    margin: 50px auto;
    width: 60%;
    height: 800px;
    /* background-color: #1dac48; */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 100px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Roboto", sans-serif;
    text-align: left;
}

.table td {


    padding: 12px 15px;
    border-bottom: 1px solid skyblue;

}

.table-name {
    color: #f8f9fa;
    position: relative;
    top: 30px;
}

.table-links {
    color: #f8f9fa;
    text-decoration: none;
    position: relative;
    top: 30px;
}

.table-links:hover {

    color: skyblue;
}

.table-title {

    color: #f8f9fa;
    /* background-color: red; */
    width: 50px;
    position: relative;
    left: 30px;
    /* top: 50px; */
}


.contact-header {

    color: #f8f9fa;
}

.contact {

    color: #f8f9fa;
}

.contact-container {
    min-width: 1100px;
    padding: 20px;
    position: relative;
    top: 100px;
    left: 400px
}

.input-name {

    width: 200px;
    border-radius: 20px;
    padding: 7px;
    margin-top: 10px;
}

.input-email {

    width: 200px;
    border-radius: 20px;
    padding: 7px;
    margin-top: 10px;
}

.input-message {


    width: 300px;
    height: 200px;
    border-radius: 20px;
    padding: 7px;
    margin-top: 10px;

}

.submit {

    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: skyblue;

}

.submit:hover {

    background-color: #f8f9fa;
    color: black;
}



.skills {

    position: relative;

    width: 1000px;
    /* background-color: rgb(23, 156, 21); */
    height: 800px;
}

.skills .heading {
    position: relative;
    left: 500px;
    font-size: 30px;
    color: #f8f9fa;
}

.skills .heading span {

    color: skyblue;
}

.skills-column .title {

    padding: 30px;
    color: #f8f9fa;
}

.skills-box {

    position: relative;
    border: 2px solid skyblue;
    width: 450px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.progress h3 {

    color: #f8f9fa;
    font-size: small;
    padding: 15px;
}

.progress h3 span {
    color: rgb(232, 237, 238);
    position: relative;
    margin-left: 380px;
    padding: 10px;

}

.js h3 span {

    position: relative;

}

.c h3 span {

    position: relative;
    right: 2px;
}


.progress .bar {
    position: relative;
    left: 10px;
    background-color: skyblue;
    width: 420px;
    height: 15px;
    border: 5px solid black;
    border-radius: 10px;
    /* padding: 5px; */
     

}

.react  h3 span{

position: relative;
right: 50px;


}

.boot h3 span{

    position: relative;
    right: 60px;
}

.node h3 span{


    position: relative;
    right: 47px;
}

.git h3 span{


    position: relative;
    right: 24px;
}

.skills-row-framework{
    position: relative;
    left: 550px;
    bottom: 450px;
    
}

.skills-box-framework{
    
    position: relative;
    height: 380px;
    bottom: 15px;
}

.education{

color: #f8f9fa;
padding: 10px;
position: relative;
bottom: 50px;
width: 500px;

}

.education h1{
 position: relative;
 color: skyblue;
 bottom: 10px;


}